*
{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body
{
  background-color: #222222;
  font-weight: 400;
}

main
{
  display: flex;
  flex-direction: column;
}

#imgLandingPage
{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  
}

.AboutUs
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 150px;
}

#rightAboutUs
{
display: flex;
flex-direction: column;
text-align: start;
justify-content: center;
align-items: center;
width: auto;
padding-right: 150px;

}

.titles
{
  font-size: 18px;
  font-weight: 600;

}

.hrDiv
{
  margin: 5px;
}

hr
{
    margin: 10px;
    border-color: black;
    width: 60px;
}

#lblAboutUs
{
  display: inline-block;
  width: 556px;
  height: 224px;
  font-weight: 100;
}

#imgCharacter-default
{
  width: 200px;
  height: auto;
  padding-left: 200px;
  background-color: #333333;
  border-radius: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  align-self: center;
}
