*
{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body
{
  background-color: #111;
  font-weight: 400;
}

#imgLandingPage
{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.title
{

  font-weight: 600;
  font-size: 17px;
  padding-bottom: 20px;
  align-self: center;
}

.text
{
  display: flex;
  width: 600px;
  padding-top: 20px;
  text-align: justify;
}