*
{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

body
{
  background-color: #222222;
  font-weight: 400;
}

main
{
  display: flex;
  flex-direction: column;
}

#imgLandingPage
{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

